#ps-navbar { margin-bottom: 10px; }
#logo { opacity: 1; transition: opacity 0.2s ease; -webkit-transition: opacity 0.2s ease; -moz-transition: opacity 0.2s ease; }
#logo:hover { opacity: .8; }
#nav-container { width: 940px; }
#main-content { background-color: #fff; padding-top: 45px; border-radius: 8px; box-shadow: rgba(0,0,0,.30) 0 2px 3px; }
      
#iphone-hand { position: relative; background: url(../img/iphone-hand.png) no-repeat; height: 748px; }
#app-screens { width: 241px; height: 346px; background: #222; position: absolute; top: 113px; left: 132px; }
.footer { padding-top: 20px; margin-bottom: 45px; }
.footer-links { float: right; margin-bottom: 15px; }
.footer-links a { margin-left: 15px; color: #888; font-weight: 700; font-size: 14px; }
.footer-links a:hover { color: #666; }
       
#statement-title { margin-top: 60px; }
#statement-title span { color: #09c; }
#description p { font-size: 24px; color: #666; margin: 25px 0 23px; line-height: 1.4em; }
#description { padding: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#getapp { padding: 20px 30px; font-size: 24px; font-weight: 700; }
#getapp img { position: relative; left: 10px; }
#download-group { position: relative; margin-top: 45px; }
#download-group a { margin-left: 20px; }

.footer hr { border-top: 1px solid #ddd !important; }

#apple-app-store { float: left; }
#google-play { float: right; margin-top: 8px; }
#google-play span { font-size: 11px; margin-right: 10px; }

/* temp */
#coming-soon { float: right; margin-top: 15px; }
#coming-soon span { font-size: 24px; margin-right: 10px; }

#app-stores { border-top: 1px dotted #ddd; padding-top: 15px; }
#apple-app-store a { opacity: opacity: 1; transition: opacity 0.2s ease; -webkit-transition: opacity 0.2s ease; -moz-transition: opacity 0.2s ease; }
#apple-app-store a:hover { opacity: .7; }

a#learn-more { font-size: 20px; }
a#learn-more i { margin-top: 6px; margin-left: 6px; }

#main-content .alert { width: 800px; margin-left: 65px; margin-top: -15px; }


/* About Page */
#about-copy { padding: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    #about-copy h1 { margin-bottom: 15px; }
    #about-copy p { font-size: 18px; line-height: 1.2em; color: #666; margin-bottom: 20px; }
    #history { margin-bottom: 60px; }
    #team-display { padding: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    .team-player { height: 150px; width: 100%; border-radius: 2px; margin-bottom: 15px; border: 1px solid #eee; }
    
    .scott { background: #f8f8f8 url(../img/team/scott-1.png) no-repeat; }
    .mike { background: #f8f8f8 url(../img/team/mike-1.png) no-repeat; }
    .piotr { background: #f8f8f8 url(../img/team/piotr-1.png) no-repeat; }
    .jeter { background: #f8f8f8 url(../img/team/jeter-1.png) no-repeat; }
    
    
    
/* How it works */

.tour-img {  }
  	.tour-txt { padding: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  	.tour-box { margin-bottom: 40px; border-bottom: 1px solid #eee; }
  	.explanations { list-style-type: none; margin-top: 50px; margin-left: 0; }
  	.explanations li { color: #666; margin-bottom: 25px; font-size: 18px; line-height: 1.5em; }
  	
  	.pop-activities { background: url(../img/tour/lightning-icon.png) no-repeat left center; padding-left: 80px; }
  	.local-action { background: url(../img/tour/pin-icon.png) no-repeat left center; padding-left: 80px; }
  	.discover-new { background: url(../img/tour/bulb-icon.png) no-repeat left center; padding-left: 80px; }
  	.friends-family { background: url(../img/tour/people-icon.png) no-repeat left center; padding-left: 80px; }
  	.sync-nearby { background: url(../img/tour/sync-icon.png) no-repeat left center; padding-left: 80px; }
  	.organize-together { background: url(../img/tour/clipboard-icon.png) no-repeat left center; padding-left: 80px; }
  	
  	
/* contact */

#contact-info { padding: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    #contact-info h1 { margin-bottom: 25px; }
    #contact-info h4 { color: #666; }
    #display-map { margin-bottom: 45px; }
    #display-map iframe { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	#hqmap { 
		-webkit-box-shadow: 
rgba(0, 0, 0, 0.4) 0 1px 4px;
-moz-box-shadow: rgba(0,0,0,0.4) 0 1px 4px;
box-shadow: 
rgba(0, 0, 0, 0.4) 0 1px 4px;
background: 
white;
padding: 10px 10px 5px;
width: 575px; 
    }
    
    #contact-links { margin-top: 45px; }
    .contact-item { margin-bottom: 20px; }
    .contact-item a { font-size: 16px; }

/* Rod Stuff */

.getapp-text {
	background: #FFF;
	width: 224px;
	color: #333;
	padding: 15px 10px 15px;
	margin-left: 10px;
	left: -9px;
	display: none;
	
	position: absolute;
	top: 100%;
	z-index: 8;
	
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;

	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.5);
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

.getapp-text p {
	font-size: 13px;
	margin-bottom: 1em;
}

.getapp-text #cellphone-input {
	width: 202px;
	font-size: 16px;
	padding: 10px;
	margin: 15px 0 0;
	border: 1px solid #AAA;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.getapp-text form {
	position: relative;
	margin-top: 10px;
}

.getapp-form .getapp-arrow {
	display: none;
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.getapp-success {
	display: none;
}

.getapp-success p {
	
	margin-bottom: 0;
}

.sms-info { font-size: 14px; }
